/*--- Base Styles ---*/ /*--- Font Roboto ---*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*--- Fonts PT Serif ---*/
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*--- Base Styles ---*/
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
  background: #fff;
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1151px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--- Elements ---*/
.no-scroll {
  overflow: hidden;
}

.--ibg {
  position: relative;
}
.--ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  background: #886239;
  border-radius: 30px;
  transition: all 0.3s;
  padding: 19px 55px;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
}
.btn:hover {
  border-color: #886239;
  background: #fff;
  color: #1f1e1e;
}

.btn--small {
  padding: 12px 31px;
  font-size: 16px;
}

/*--- Section Styles ---*/
.header {
  position: absolute;
  z-index: 55;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  color: #fff;
}
@media (max-width: 768px) {
  .header {
    position: relative;
    background: #1f1e1e;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header__top > * + * {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .header__top > * + * {
    margin-left: unset;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .header__top {
    flex-wrap: wrap;
  }
}
.header__logo {
  display: flex;
  transition: all 0.3s;
}
.header__logo:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .header__logo {
    flex: 0 1 100%;
  }
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}
.header__phone-text + * {
  margin-left: 19px;
}
@media (max-width: 768px) {
  .header__phone-text + * {
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .header__phone-text {
    display: none;
  }
}
.header__menu {
  padding: 27px 0 24px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 173px;
    right: -100%;
    left: auto;
    min-width: 320px;
    height: calc(100vh - 173px);
    overflow: auto;
    transition: right 0.3s;
    background: rgba(31, 30, 30, 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: unset;
  }
  .header__menu.active {
    right: 0;
  }
}

.logo__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 12px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.logo__text-sub {
  display: block;
  margin-top: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 116.6666666667%;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item + * {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .menu__item + * {
    margin-left: unset;
    margin-top: 25px;
  }
}
.menu__link {
  transition: all 0.3s;
}
.menu__link:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 20px;
  }
}

.burger-btn {
  display: none;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 55;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}
.burger-btn.active span {
  background-color: transparent;
}
.burger-btn.active span::before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn.active span::after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn span {
  display: block;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #886239;
}
.burger-btn span::before, .burger-btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #886239;
  transition: all 0.3s;
}
.burger-btn span::before {
  left: 0;
  top: 10px;
}
.burger-btn span::after {
  left: 0;
  top: -10px;
}

.first {
  position: relative;
  padding-top: 235px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .first {
    padding-top: 300px;
  }
}
.first__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 768px) {
  .first__image {
    z-index: 1;
    height: 300px;
  }
}
.first__body {
  position: relative;
  min-height: calc(100vh - 250px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.first__body > * + * {
  margin-top: 20px;
}
@media (max-height: 850px) {
  .first__body {
    min-height: 100%;
  }
}
.first__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-height: 850px) {
  .first__title {
    position: static;
    margin-bottom: 250px;
  }
}
@media (max-width: 1000px) {
  .first__title {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .first__title {
    margin-bottom: 0;
    font-size: 47px;
  }
}
.first__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  max-width: 422px;
}
@media (max-width: 768px) {
  .first__text {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .first__btn {
    margin: 15px auto;
  }
}
.first__btn-down {
  border: 1px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s;
}
.first__btn-down:hover {
  transform: translateY(-10px);
}
@media (max-width: 768px) {
  .first__btn-down {
    background: #1f1e1e;
  }
}