/*--- Base Styles ---*/ /*--- Font Roboto ---*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*--- Fonts PT Serif ---*/
@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*--- Base Styles ---*/
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
  background: #e5e5e5;
}
@media (max-width: 480px) {
  body {
    font-size: 1rem;
  }
}

/*--- Utility ---*/
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.hidden {
  opacity: 0;
}

/*--- Grid ---*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1151px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--- Elements ---*/
.no-scroll {
  overflow: hidden;
}

.--ibg {
  position: relative;
}
.--ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.--vbg {
  position: relative;
  aspect-ratio: 16/9;
}
.--vbg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
@media (max-width: 480px) {
  .title {
    font-size: 25px;
  }
}

.title--white {
  color: #fff;
}

.title--bold {
  font-weight: 700;
}

.text-bold {
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  background: #886239;
  border-radius: 30px;
  padding: 19px 55px;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.btn:hover {
  border-color: #886239;
  background: #fff;
  color: #1f1e1e;
}

.btn--small {
  padding: 12px 31px;
  font-size: 16px;
}

.link {
  font-size: 16px;
  line-height: 118.75%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c4c4c4;
  transition: all 0.3s;
}
.link:hover {
  color: #886239;
}

.link--white {
  color: #fff;
}
.link--white:hover {
  color: #c4c4c4;
}

/*--- Section Styles ---*/
.header {
  position: absolute;
  z-index: 55;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  color: #fff;
}
@media (max-width: 768px) {
  .header {
    position: relative;
    background: #1f1e1e;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header__top > * + * {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .header__top > * + * {
    margin-left: unset;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .header__top {
    flex-wrap: wrap;
  }
}
.header__logo {
  display: flex;
  transition: all 0.3s;
}
.header__logo:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .header__logo {
    flex: 0 1 100%;
  }
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}
.header__phone-text + * {
  margin-left: 19px;
}
@media (max-width: 768px) {
  .header__phone-text + * {
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .header__phone-text {
    display: none;
  }
}
.header__menu {
  padding: 27px 0 24px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 173px;
    right: -100%;
    left: auto;
    min-width: 320px;
    height: calc(100vh - 173px);
    overflow: auto;
    transition: right 0.3s;
    background: rgba(31, 30, 30, 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border: unset;
  }
  .header__menu.active {
    right: 0;
  }
}
@media (max-width: 480px) {
  .header__menu {
    top: 170px;
  }
}

.logo__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 12px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.logo__text-sub {
  display: block;
  margin-top: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 116.6666666667%;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item + * {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .menu__item + * {
    margin-left: unset;
    margin-top: 25px;
  }
}
.menu__link {
  transition: all 0.3s;
}
.menu__link:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 20px;
  }
}

.burger-btn {
  display: none;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 55;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}
.burger-btn.active span {
  background-color: transparent;
}
.burger-btn.active span::before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn.active span::after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.3s;
}
.burger-btn span {
  display: block;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #886239;
}
.burger-btn span::before, .burger-btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #886239;
  transition: all 0.3s;
}
.burger-btn span::before {
  left: 0;
  top: 10px;
}
.burger-btn span::after {
  left: 0;
  top: -10px;
}

.first {
  position: relative;
  padding-top: 235px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .first {
    padding-top: 300px;
  }
}
.first__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 768px) {
  .first__image {
    z-index: 1;
    height: 300px;
  }
}
.first__body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.first__body > * + * {
  margin-top: 20px;
}
.first__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 250px;
}
@media (max-width: 1000px) {
  .first__title {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .first__title {
    margin-bottom: 0;
    font-size: 47px;
  }
}
.first__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  max-width: 422px;
}
@media (max-width: 768px) {
  .first__text {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .first__btn {
    margin: 15px auto;
  }
}
.first__btn-down {
  border: 1px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s;
}
.first__btn-down:hover {
  transform: translateY(-10px);
}
@media (max-width: 768px) {
  .first__btn-down {
    background: #1f1e1e;
  }
}

.trip {
  padding: 100px 0;
}
@media (max-width: 1000px) {
  .trip {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .trip {
    padding: 25px 0;
  }
}
.trip__list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}
@media (max-width: 1000px) {
  .trip__list {
    margin: -8px;
  }
}
.trip__item {
  position: relative;
  flex: 0 1 25%;
  padding: 16px;
  transition: all 0.3s;
}
.trip__item:hover {
  transform: scale(1.2);
  z-index: 2;
}
@media (max-width: 1000px) {
  .trip__item {
    flex: 0 1 33.333%;
    padding: 8px;
  }
}
@media (max-width: 768px) {
  .trip__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 480px) {
  .trip__item {
    flex: 1 1 100%;
  }
}
.trip__item-wrapper {
  border: 1px solid #d9d9de;
}
.trip__link {
  display: flex;
  flex-direction: column;
}
.trip__image {
  padding-bottom: 42%;
}
.trip__title {
  padding: 12px 19px 19px;
}

.service {
  background: url("../img/service/bg.jpg") center/cover no-repeat;
  padding: 32px 0 51px;
}
@media (max-width: 480px) {
  .service {
    padding: 25px 0;
  }
}
.service__title {
  text-align: center;
  margin-bottom: 52px;
}
@media (max-width: 480px) {
  .service__title {
    margin-bottom: 25px;
  }
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  margin: -33px -26px;
}
@media (max-width: 1000px) {
  .service__list {
    margin: -16px;
  }
}
.service__item {
  flex: 0 1 25%;
  padding: 33px 26px;
}
.service__item > * + * {
  margin-top: 15px;
}
@media (max-width: 1000px) {
  .service__item {
    flex: 0 1 33.333%;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .service__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 480px) {
  .service__item {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.service__icon {
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.service__text {
  color: #fff;
  font-size: 16px;
}

.offer {
  padding: 100px 0 0;
}
@media (max-width: 1000px) {
  .offer {
    padding: 50px 0 0;
  }
}
@media (max-width: 480px) {
  .offer {
    padding: 25px 0 0;
  }
}
.offer__body {
  padding-bottom: 82px;
  border-bottom: 1px solid #d9d9de;
}
@media (max-width: 1000px) {
  .offer__body {
    padding-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .offer__body {
    padding-bottom: 25px;
  }
}
.offer__title {
  text-align: center;
}
.offer__title + * {
  margin-top: 40px;
}
.offer__list {
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: repeat(4, 256px);
  gap: 32px;
}
@media (max-width: 1160px) {
  .offer__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 218.5px);
    gap: 16px;
  }
}
@media (max-width: 1000px) {
  .offer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 218.5px);
  }
}
@media (max-width: 480px) {
  .offer__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 290px);
  }
}
.offer__item {
  max-height: 100%;
}
.offer__item:nth-child(11n+3), .offer__item:nth-child(11n+6) {
  grid-column: span 2;
  grid-row: span 2;
}
.offer__item:nth-child(11n+3) .offer-item__title, .offer__item:nth-child(11n+6) .offer-item__title {
  font-size: 24px;
}
.offer__item:nth-child(11n+3) .offer-item__info, .offer__item:nth-child(11n+6) .offer-item__info {
  display: block;
}
.offer__item:nth-child(11n+3) .offer-item__info > * + *, .offer__item:nth-child(11n+6) .offer-item__info > * + * {
  margin-top: 15px;
}
@media (max-width: 480px) {
  .offer__item:nth-child(11n+3), .offer__item:nth-child(11n+6) {
    grid-column: unset;
    grid-row: unset;
  }
  .offer__item:nth-child(11n+3) .offer-item__title, .offer__item:nth-child(11n+6) .offer-item__title {
    font-size: 18px;
  }
  .offer__item:nth-child(11n+3) .offer-item__info, .offer__item:nth-child(11n+6) .offer-item__info {
    display: none;
  }
}

.offer-item {
  position: relative;
  padding: 19px 21px;
  color: #fff;
  transition: all 0.3s;
}
.offer-item:hover {
  transform: scale(1.05);
  z-index: 2;
}
.offer-item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.offer-item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}
.offer-item__title + * {
  margin-top: 15px;
}
.offer-item__title-link {
  display: block;
}
.offer-item__title-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.offer-item__info {
  display: none;
  font-size: 16px;
}
.offer-item__info span {
  display: block;
}
.offer-item__price {
  display: block;
  position: absolute;
  bottom: 19px;
  left: 19px;
  font-weight: 700;
  font-size: 16px;
}

.map {
  padding: 100px 0;
}
@media (max-width: 1000px) {
  .map {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .map {
    padding: 25px 0;
  }
}
.map__title {
  text-align: center;
}
.map__title + * {
  margin-top: 46px;
}
@media (max-width: 768px) {
  .map__title + * {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .map__map iframe {
    height: 500px;
  }
}
@media (max-width: 480px) {
  .map__map iframe {
    height: 300px;
  }
}

.about {
  padding-bottom: 50px;
}
@media (max-width: 480px) {
  .about {
    padding-bottom: 25px;
  }
}
.about__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .about__body {
    flex-direction: column;
  }
}
.about__content {
  flex: 0 1 39%;
}
.about__content + * {
  margin-left: 32px;
}
@media (max-width: 1000px) {
  .about__content + * {
    margin-left: unset;
    margin-top: 32px;
  }
}
.about__title + * {
  margin-top: 25px;
}
.about__text + * {
  margin-top: 34px;
}
.about__video {
  position: relative;
  flex: 0 1 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__video-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.082);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.about__play-btn {
  background: #1f1e1e;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  padding-left: 7px;
}
@media (max-width: 480px) {
  .about__play-btn {
    width: 49px;
    height: 49px;
    padding: 15px;
  }
}
.about__play-btn:hover {
  transform: scale(1.1);
}

.gallery {
  padding: 50px 0 106px;
  background: #886239;
}
@media (max-width: 1000px) {
  .gallery {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .gallery {
    padding: 25px 0;
  }
}
.gallery__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
}
@media (max-width: 768px) {
  .gallery__top {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 15px;
  }
}
.gallery__link {
  margin-right: 159px;
}
.gallery__slider {
  margin: -16px;
}
.gallery__slider .slick-prev,
.gallery__slider .slick-next {
  position: absolute;
  top: -70px;
  border: 1px solid #c4c4c4;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.gallery__slider .slick-prev:hover,
.gallery__slider .slick-next:hover {
  background: #c4c4c4;
}
.gallery__slider .slick-prev {
  right: 76px;
  padding-right: 4px;
}
.gallery__slider .slick-next {
  right: 16px;
}
.gallery__slide {
  padding: 16px;
}
.gallery__slide-image {
  position: relative;
  padding-bottom: 73%;
}

.info {
  padding: 100px 0;
  background: #fff;
}
@media (max-width: 1000px) {
  .info {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .info {
    padding: 25px 0;
  }
}
.info__content {
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .info__content {
    padding-bottom: 20px;
  }
}
.info__title {
  text-align: center;
  margin-bottom: 77px;
}
@media (max-width: 768px) {
  .info__title {
    margin-bottom: 25px;
  }
}
.info__descr {
  display: flex;
  justify-content: space-between;
  margin: 0 -23px;
}
@media (max-width: 768px) {
  .info__descr {
    flex-direction: column;
  }
}
.info__descr-column {
  flex: 0 1 50%;
  padding: 0 23px;
}
.info__text + * {
  margin-top: 35px;
}
@media (max-width: 768px) {
  .info__text + * {
    margin-top: 15px;
  }
}
.info__stats {
  padding-top: 44px;
  border-top: 1px solid #d9d9de;
}
@media (max-width: 768px) {
  .info__stats {
    padding-top: 20px;
  }
}
.info__stats-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .info__stats-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .info__stats-list {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}
.info__stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__stats-item + * {
  margin-left: 15px;
}
@media (max-width: 480px) {
  .info__stats-item + * {
    margin-left: unset;
  }
}
.info__stats-number {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 130%;
  color: #886239;
}
@media (max-width: 768px) {
  .info__stats-number {
    font-size: 38px;
  }
}
.info__stats-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1f1e1e;
}
@media (max-width: 1000px) {
  .info__stats-text {
    font-size: 18px;
  }
}

.order {
  padding: 75px 0;
}
@media (max-width: 1000px) {
  .order {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .order {
    padding: 25px 0;
  }
}
.order__title {
  text-align: center;
  margin-bottom: 43px;
}
.order__form {
  display: flex;
  flex-direction: column;
}
.order__form-input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .order__form-input-box {
    flex-wrap: wrap;
  }
}
.order__form-input {
  flex: 0 1 33.333%;
  background: #ffffff;
  border: 1px solid #d9d9de;
  padding: 11px 14px;
}
.order__form-input + * {
  margin-left: 32px;
}
@media (max-width: 1000px) {
  .order__form-input + * {
    margin-left: 16px;
  }
}
@media (max-width: 768px) {
  .order__form-input + * {
    margin-left: unset;
    margin-top: 16px;
  }
}
.order__form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
.order__form-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
.order__form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
@media (max-width: 768px) {
  .order__form-input {
    flex: 0 1 100%;
  }
}
.order__form-message {
  background: #ffffff;
  border: 1px solid #d9d9de;
  padding: 11px 14px;
  height: 112px;
  margin-bottom: 67px;
}
.order__form-message::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
.order__form-message:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
.order__form-message::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #c4c4c4;
}
.order__form-submit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .order__form-submit {
    flex-direction: column;
    align-items: flex-start;
  }
}
.order__form-policy {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .order__form-policy {
    margin-bottom: 25px;
  }
}
.order__form-link {
  color: #1f1e1e;
}
.order__form-checkbox {
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  margin-right: 19px;
}
.footer {
  background: #1f1e1e;
  padding: 77px 0 81px;
}
@media (max-width: 1000px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 25px 0;
  }
}
.footer__body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  display: flex;
}
.footer__logo + * {
  margin-top: 69px;
}
@media (max-width: 768px) {
  .footer__logo + * {
    margin-top: 30px;
  }
}
.footer__info-list {
  display: flex;
  justify-content: space-between;
  flex: 0 1 80%;
}
@media (max-width: 768px) {
  .footer__info-list {
    flex: 0 1 100%;
    flex-direction: column-reverse;
  }
}
.footer__info-item {
  flex: 0 1 225px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.footer__info-item + * {
  margin-left: 15px;
}
@media (max-width: 768px) {
  .footer__info-item + * {
    margin-left: unset;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer__info-item {
    flex: unset;
  }
}
.footer__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.footer__title + * {
  margin-top: 7px;
}
.footer__copy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.footer__policy-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.footer__address {
  font-family: "Roboto", sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  max-width: 164px;
}
.footer__phone {
  transition: all 0.3s;
}
.footer__phone:hover {
  color: #886239;
}
.footer__email {
  transition: all 0.3s;
}
.footer__email:hover {
  color: #886239;
}