.header {
	position: absolute;
	z-index: 55;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 0;
	color: #fff;
	@media (max-width: 768px) {
		position: relative;
		background: #1f1e1e;
	}
	&__body {
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;
		& > * + * {
			margin-left: 15px;
			@media (max-width: 768px) {
				margin-left: unset;
				margin-top: 15px;
			}
		}
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__logo {
		display: flex;
		transition: all 0.3s;
		&:hover {
			opacity: 0.7;
		}
		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
	}

	&__phone-text {
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		& + * {
			margin-left: 19px;
			@media (max-width: 768px) {
				margin-left: unset;
			}
		}
		@media (max-width: 768px) {
			display: none;
		}
	}

	&__phone-number {
	}

	&__menu {
		padding: 27px 0 24px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		@media (max-width: 768px) {
			position: absolute;
			top: 173px;
			right: -100%;
			left: auto;
			min-width: 320px;
			height: calc(100vh - 173px);
			overflow: auto;
			transition: right 0.3s;
			background: rgba(31, 30, 30, 0.5);
			backdrop-filter: blur(5px);
			border: unset;
			&.active {
				right: 0;
			}
		}
	}
}
.logo {
	&__img {
	}

	&__text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 12px;
		font-family: "PT Serif", serif;
		font-weight: 700;
		font-size: 20px;
		line-height: calc(26px / 20px * 100%);
	}

	&__text-sub {
		display: block;
		margin-top: 1px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(21px / 18px * 100%);
	}
}
.menu {
	&__list {
		display: flex;
		justify-content: space-evenly;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		& + * {
			margin-left: 15px;
			@media (max-width: 768px) {
				margin-left: unset;
				margin-top: 25px;
			}
		}
	}

	&__link {
		transition: all 0.3s;
		&:hover {
			opacity: 0.7;
		}
		@media (max-width: 768px) {
			font-size: 20px;
		}
	}
}
.burger-btn {
	display: none;
	cursor: pointer;
	padding: 0;
	border: 0;
	background: transparent;
	position: relative;
	z-index: 55;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		display: block;
	}
	&.active {
		span {
			background-color: transparent;
			&::before {
				transform: rotate(45deg);
				top: 0;
				transition: all 0.3s;
			}
			&::after {
				transform: rotate(-45deg);
				top: 0;
				transition: all 0.3s;
			}
		}
	}
	span {
		display: block;
		position: relative;
		width: 40px;
		height: 3px;
		background-color: #886239;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: block;
			width: 40px;
			height: 3px;
			background-color: #886239;
			transition: all 0.3s;
		}
		&::before {
			left: 0;
			top: 10px;
		}
		&::after {
			left: 0;
			top: -10px;
		}
	}
}
