.trip {
	padding: 100px 0;
	@media (max-width: 1000px) {
		padding: 50px 0;
	}
	@media (max-width: 480px) {
		padding: 25px 0;
	}
	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -16px;
		@media (max-width: 1000px) {
			margin: -8px;
		}
	}

	&__item {
		position: relative;
		flex: 0 1 25%;
		padding: 16px;
		transition: all 0.3s;
		&:hover {
			transform: scale(1.2);
			z-index: 2;
		}
		@media (max-width: 1000px) {
			flex: 0 1 33.333%;
			padding: 8px;
		}
		@media (max-width: 768px) {
			flex: 0 1 50%;
		}
		@media (max-width: 480px) {
			flex: 1 1 100%;
		}
	}
	&__item-wrapper {
		border: 1px solid #d9d9de;
	}
	&__link {
		display: flex;
		flex-direction: column;
	}

	&__image {
		padding-bottom: 42%;
	}

	&__title {
		padding: 12px 19px 19px;
	}
}
